
*.mat
*.l
*.slx.r*
test_reports/*
test/single_veh_test/results/*.txt
test/single_veh_test/results/*.png
test/multi_veh_test/results/*.txt
test/multi_veh_test/results/*.png
test/multi_veh_test/results/*.pdf
test/multi_veh_test/results/*.pdf
slprj/
